// The berow colors are named by Name That Color that is VS code plugin.
// Name That Color is A VS Code Plugin to convert hex color representation into friendly names built upon Chirag Mehta's ntc.js.
// http://chir.ag/projects/name-that-color/

/* -----------------------------------------------------------------------
 * Palette
 * -------------------------------------------------------------------- */
$dodger-blue: #1ea7fd;;

/* -----------------------------------------------------------------------
 * Custom Properties List
 * -------------------------------------------------------------------- */

$custom-properties-list: (
  button-primary: $dodger-blue,
);
